.btnDark,
.btnLight {
  padding: 10px 25px;
  border: none;
  outline: none;
  border-radius: 2px;
}
.btnLight {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}
.btnDark {
  color: rgb(255, 246, 246);
  background: rgb(0, 0, 0);
}
