body {
  height: 100vh;
  margin: 0;
}

.app {
  transition: background 0.2s linear;
}

#root {
  height: 100%;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
